li {
    list-style: none;
}

.msg {
    position: absolute;
    left: 50%;
    Top: 50px;
    padding: 5px;
    width: auto;
    height: auto;
    color: white;
    border: thick solid darkgray;
    background-color: red;
}